<div class="nav">
     <img src="/images/fav-icon.png" />
     <div class="logo-text">CraftNepal</div>

     <% if (isLoggedIn) { %>
     <div class="profile-picture"><img src=" <%= profilePicUrl %> " alt="" /></div>
     <ul class="nav-items" id="nav-items">
          <li class="nav-item"><a href="/profile" class="">Profile</a></li></li>
          <li class="nav-item"><a href="/account-settings" class="">Account Settings</a></li></li>
          <li class="nav-item"><a href="/admin/server-list" class="">Console</a></li></li>
          <li class="nav-item"><span></span></li></li>
          <li class="nav-item logout"><a href="/auth/logout" class="">Logout</a></li>

          <% } %>
     </ul>
</div>
<div class="backdrop" id="backdrop"></div>
<div class="transparent-backdrop" ></div>
<div class="confirmation">
     <h2>Are you sure you want to do this?</h2>
<button id="yes">Yes</button><button id="no">No</button> 
</div>

<script src="/js/navigation.js"></script>
